.rightTabContainer {
  display: flex;
  flex-direction: column; /* left = narrow, middle = medium, right = flexible */
  flex: 1;
  background-color: rgb(30, 30, 30);
}

.codebarContainer {
  font-size: 12px;
  color: rgb(197, 148, 124);
  overflow-y: auto;
}

.resizeHandle {
  height: 2px;
  cursor: row-resize;
  background: rgb(43, 43, 43);
}
.terminalContainer {
  height: 200px;
  min-height: 50px;
  max-height: 30%;
  background-color: rgb(24, 24, 24);
  overflow: auto;
  border: 1px rgb(43, 43, 43) solid;
}

.numbers {
  color: rgb(111, 118, 128);
  text-align: right;
  margin-bottom: 18px;
  font-family: monospace;
  font-size: 12px;
  margin-left: 25px;
}

.rightTabText {
  color: rgb(111, 118, 128);
  text-align: right;
  margin-bottom: 18px;
  font-family: monospace;
  font-size: 12px;
}

.numberAndTextDivider {
  margin-left: 18px;
}
