:root {
  font-family: monaco;
  src: url("../assets/fonts/Monaco.ttf") format("truetype");
  line-height: 1.5;
  font-weight: 100;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(24, 24, 24);
}

body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
